<div class="strib-styles ssa ssb ssc">
	<section class="container-lg">
		<div class="header">
      <h5 class="font-popular-light">Candidates</h5>
			<h1>2018 Minnesota Voter's Guide</h1>
      <p class="byline">By Star Tribune Staff</p>
      <!--Social buttons go here-->
      <div class="leadin">
        <p>Since early in this campaign season, the Star Tribune has reported on candidates
          statewide ahead of the Nov. 6 general election. You can find information on other
          contests — including legislative races, county, city and school board races — at startribune.com/election. Ebitas
          aut ut omnimpo riamus num harchic te pa il is volupti officab oratur? Caborem cupturit lab isi optaqui rae veriore, velenda
          cum in nimped milluta tibuscias ad quam sit faccust estrum quas esciis asi.</p>
        <p><a href="http://newsletters.startribune.com/pages/1788361/4540" target="_blank" rel="noopener">Follow our coverage of this campaign season by signing up to the Star Tribune's daily politics newsletter.</a></p>
      </div>

      <!--NAVIGATION-->
       <nav>
        <ul>
          <a href="#governor"><li>Governor</li></a>
          <a href="#senate"><li>U.S. Senate</li></a>
          <a href="#house"><li>U.S. House</li></a>
          <a href="#statewide"><li>State offices</li></a>
        </ul>
      </nav>
    </div>


		{#each Object.entries(offices) as [officeName, office]}
    {#if office.bodyName}<h2 class="bodyName" id="{office.bodyID}">{office.bodyName}</h2>{/if}
		<div class="office office-{office.officeClass}" id="{office.officeClass}">

      <div class="officeTop">
        <div class="map">
          {#if office.distMap}<img src="{office.distMap}" alt="Minimap of this congressional district" />{/if}
          <h3>{officeName}</h3>
          {#if office.distAreas}<p class="distAreas">{office.distAreas}</p>{/if}
        </div>

        {#each office.heads as head}
        <div class="candidate">
          <img src="{head.photocrop}" alt="headshot"/>
          <h4 class="candName">{head.first} {head.last}<span class="inc">{#if head.incumbent == "y"}(i){/if}</span></h4>
          <p class="party">{head.party}</p>
          <p class="mBio">{head.bio}</p>
        </div>
        {/each}

        <h5>Bio</h5>

        {#each office.bios as bio}
        <div class="bios">
          <p class="candBio">{bio.bio}</p>
          <!--More coverage here? Link to website or our story on the person?-->
        </div>
        {/each}
      </div>

			<div class="issues">
				{#each Object.entries(office.issues) as [issueName, responses]}
				<div class="issue">
          <div class="issueName">
					  <h5>{ issueName }</h5>
            <div class="expand">
              <button class="more">+</button>
              <button class="less">-</button>
            </div>
          </div>

					{#each responses as response}
					<p class="response {response.last}">
						<span>{response.last}: </span>{ response.text }
					</p>
					{/each}
				</div>
				{/each}
			</div>
		</div>
		{/each}

    <div class="credits">
      <h4>Credits</h4>
      <p><strong>Contributors:</strong> Names here and herey and herey</p>
      <p><strong>Design:</strong> C.J. Sinner</p>
      <p><strong>Development:</strong> C.J. Sinner, Alan Palazzolo</p>
      <p><strong>Photography:</strong> Glen Stubbe, Anthony Souffle</p>
      <p><strong>Illustration:</strong> Name hereyey</p>
      <p><strong>Copy editing:</strong> Name hereyey</p>
    </div>
	</section>
</div>

<script>
  import { groupBy, mapValues, each, pick } from "lodash";

  export default {
    computed: {
      offices: ({ candidates }) => {
        let offices = groupBy(candidates, "office");

        offices = mapValues(offices, office => {
          let issues = {};

          each(office, candidate => {
            each(candidate, (field, fieldName) => {
              let fieldMatch = fieldName.match(/issue([0-9]+).*label/i);

              if (fieldMatch && field) {
                issues[field.trim()] = issues[field.trim()] || [];
                let issue = pick(candidate, [
                  "office",
                  "party",
                  "first",
                  "last",
                  "incumbent",
                  "photocrop",
                  "bio"
                ]);
                issue.text = candidate[`issue${fieldMatch[1]}`];
                issues[field.trim()].push(issue);
              }
            });
          });

          let o = pick(office[0], [
            "bodyID",
            "bodyName",
            "officeClass",
            "distMap",
            "distAreas"
          ]);

          o.heads = office;
          o.bios = office;
          o.issues = issues;

          return o;
        });

        return offices;
      }
    }
  };
</script>
