<div class="strib-styles ssa ssb ssc">
  <img class="bigimg" src="http://static.startribune.com/news/projects/all/2018-voters-guide/assets/images/VOTE_big.jpg" alt="big V-O-T-E illustration" />
	<section class="container-lg">
		<div class="header">
			<h1>2018 Minnesota Election Guide</h1>
      <h2>Who's running in major races and where they stand on the issues</h2>
      <div class="byline">
        <address>By Star Tribune staff</address>
        <span class="spacer-alt"></span>
        <time pubdate datetime="2017-07-30T16:00:00">Sept. 19, 2018 &mdash; 9:00am</time>
      </div>
      <!-- share -->
      <div class="leadin">
        <p>It’s been decades since Minnesota saw an election year as consequential as 2018. With an open race for governor, both U.S. Senate seats on the ballot, a handful of highly competitive U.S. House races, and control of the Legislature up for grabs, the decisions made by Minnesota voters this year will echo across state and national politics for many more to come.</p>
        <p>The Star Tribune has invited candidates to participate in its online and printed election guides, asking them to provide information about themselves and views on top issues ahead of the Nov. 6 general election. You’ll find information in this guide about the candidates for the governor’s office and other statewide executive posts, along with the candidates for U.S. Senate and House.</p>
        <p>Minnesotans don’t have to wait until Nov. 6 to vote; early voting begins on Sept. 21, at which point all eligible voters may obtain an absentee ballot through the mail or in person. Keep reading the Star Tribune for more coverage of campaigns and candidates right up to Election Day and continuing coverage after the votes are counted.</p>
        <p><a href="http://newsletters.startribune.com/pages/1788361/4540" target="_blank" rel="noopener">Follow our coverage of this campaign season by signing up to the Star Tribune's daily politics newsletter.</a></p>
      </div>

      <!--NAVIGATION-->
      <div class="navigation-marker"></div>
      <div class="navigation-placeholder"></div>
      <div class="cf" id="navigation">
        <nav>
          <ul>
            <a id="navgov" href="#governor"><li>Governor</li></a>
            <a id="navsen" href="#senate"><li>U.S. Senate</li></a>
            <a id="navhouse" href="#house"><li>U.S. House</li></a>
            <a id="navstate" href="#statewide"><li>State offices</li></a>
          </ul>
        </nav>
      </div>
    </div>


		{#each Object.entries(offices) as [officeName, office]}
    {#if office.bodyName}<h2 class="bodyName">{office.bodyName}</h2>{/if}
		<div class="office office-{office.officeClass}" id="{office.officeClass}">

      <div class="officeTop">
        <div class="map">
          {#if office.distMap}<img src="http://static.startribune.com/news/projects/all/2018-voters-guide{office.distMap}" alt="Minimap of this congressional district" />{/if}
          <h3>{officeName}</h3>
          {#if office.distAreas}<p class="distAreas">{office.distAreas}</p>{/if}
        </div>

        {#each office.heads as head}
        <div class="candidate">
          <img src="http://static.startribune.com/news/projects/all/2018-voters-guide{head.photocrop}" alt="headshot"/>
          <h4 class="candName">{head.first} {head.last}<span class="inc">{#if head.incumbent == "y"}(i){/if}</span></h4>
          <p class="party">{head.party}</p>
          <p class="mBio">{head.bio}</p>
        </div>
        {/each}

        <h5>Bio</h5>

        {#each office.bios as bio}
        <div class="bios">
          <p class="candBio">{bio.bio}</p>
          <!--More coverage here? Link to website or our story on the person?-->
        </div>
        {/each}
      </div>

			<div class="issues">
				{#each Object.entries(office.issues) as [issueName, responses]}
				<div class="issue">
          <div class="issueName">
					  <h5>{ issueName }</h5>
            <div class="expand">
              <button class="more">+</button>
              <button class="less">-</button>
            </div>
          </div>

					{#each responses as response}
					<p class="response {response.last}">
						<span>{response.last}: </span>{ response.text }
					</p>
					{/each}
				</div>
				{/each}
			</div>
		</div>
    <!-- {#if office.bodyID}</div>{/if} -->
		{/each}

    <div class="credits">
      <h4>Credits</h4>
      <p><strong>Contributors:</strong> Judy Keen, Jessie Van Berkel, Susan Hilliard, Patrick Condon</p>
      <p><strong>Design:</strong> C.J. Sinner</p>
      <p><strong>Development:</strong> C.J. Sinner, Alan Palazzolo</p>
      <p><strong>Photography:</strong> Glen Stubbe, Star Tribune, provided by campaigns, Associated Press</p>
      <p><strong>Illustration:</strong> Tim Enthoven, Special to the Star Tribune</p>
      <p><strong>Copy editing:</strong> Name hereyey</p>
    </div>
	</section>
</div>

<script>
  import { groupBy, mapValues, each, pick } from "lodash";

  export default {
    computed: {
      offices: ({ candidates }) => {
        let offices = groupBy(candidates, "office");

        offices = mapValues(offices, office => {
          let issues = {};

          each(office, candidate => {
            each(candidate, (field, fieldName) => {
              let fieldMatch = fieldName.match(/issue([0-9]+).*label/i);

              if (fieldMatch && field) {
                issues[field.trim()] = issues[field.trim()] || [];
                let issue = pick(candidate, [
                  "office",
                  "party",
                  "first",
                  "last",
                  "incumbent",
                  "photocrop",
                  "bio"
                ]);
                issue.text = candidate[`issue${fieldMatch[1]}`];
                issues[field.trim()].push(issue);
              }
            });
          });

          let o = pick(office[0], [
            "bodyID",
            "bodyName",
            "officeClass",
            "distMap",
            "distAreas"
          ]);

          o.heads = office;
          o.bios = office;
          o.issues = issues;

          return o;
        });

        return offices;
      }
    }
  };
</script>
