/**
 * Project specific styling.
 */

//WIDTHS
section.container-lg {
  max-width: 900px;

  //HEADER styles
  .header {
    text-align: center;
  }

  .header h1 {
    padding-top: 0.3em;
    line-height: 1.1em;
  }

  .header h5 {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.08em;
    padding-top: 40px;
  }

  .header .leadin {
    max-width: 525px;
    text-align: left;
    margin: auto;
    font-family: "Benton Sans";
    font-size: 0.9em;
    padding-top: 30px;
    margin-bottom: 45px;
  }

  //NAV styles

  //MAIN ISSUE styles
  h2,
  h3 {
    text-align: center;
  }

  h2.bodyName {
    padding-top: 100px;
  }

  div.office {
    margin-bottom: 75px;

    h3 {
      margin-bottom: 0.2em;
    }
  }

  .location {
    width: 25%;
    margin: auto;

    img {
      width: 50%;
      margin-left: 25%;
    }

    .distAreas {
      font-family: "Benton Sans";
      font-size: 0.8em;
      text-align: center;
    }
  }

  .bios {
    font-family: "Benton Sans";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h5 {
      order: 1;
      text-transform: uppercase;
    }

    .candidate {
      width: 40%;
      text-transform: none;

      img {
        width: 40%;
        margin-left: 30%;
      }

      .candName {
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 0;
      }

      .party {
        font-size: 0.8em;
        font-family: "Benton Sans";
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.15em;
      }

      .candBio {
        font-size: 0.9em;
        font-family: "Benton Sans";
        text-align: justify;
        hyphens: auto;
      }

      span.inc {
        font-size: 0.75em;
        font-weight: normal;
        margin-left: 4px;
        position: relative;
        top: -2px;
      }
    }

    .candidate:first-child {
      order: 0;
    }

    .candidate:last-child {
      order: 2;
    }
  }

  .issues {
    .issue {
      padding: 1em 0em;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h5 {
        order: 1;
        text-transform: uppercase;
      }

      .response {
        width: 40%;
        font-size: 0.9em;
        font-family: "Benton Sans";
        margin-bottom: 0;
        text-align: justify;
        hyphens: auto;

        span {
          font-weight: bold;
        }
      }
    }

    .issue .response:first-child {
      order: 0;
    }

    .issue .response:last-child {
      order: 2;
    }
  }
}
