/**
 * Project specific styling.
 */

//WIDTHS
section.container-lg {
  max-width: 900px;

  //HEADER styles
  .header {
    text-align: center;
  }

  .header h1 {
    padding-top: 0.3em;
    line-height: 1.1em;
  }

  .header h5 {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.08em;
    padding-top: 40px;
  }

  .header .leadin {
    max-width: 525px;
    text-align: left;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 45px;

    p {
      font-family: "Benton Sans";
      font-size: 0.9em;
    }
  }

  //NAV styles
  nav ul {
    width: 100%;
    display: block;
    text-align: center;
    margin: 40px auto 25px auto;

    a,
    a:link,
    a:visited {
      color: #080808;
      -webkit-transition: color 0.3s ease-out;
      -moz-transition: color 0.3s ease-out;
      -o-transition: color 0.3s ease-out;
      transition: color 0.3s ease-out;
    }

    li {
      min-width: 20%;
      background-color: white;
      text-transform: uppercase;
      font-size: 0.75em;
      font-family: "Benton Sans";
      border: 1px solid #080808;
      border-radius: 6px;
      padding: 5px 12px 4px;
      display: inline;
      -webkit-transition: background-color 0.3s ease-out;
      -moz-transition: background-color 0.3s ease-out;
      -o-transition: background-color 0.3s ease-out;
      transition: background-color 0.3s ease-out;

      @media (max-width: 600px) {
        display: inline-block;
        margin-top: 10px;
        padding: 4px 10px 3px;
        margin-right: 0.5em;
      }
    }

    a:last-child li {
      margin-right: 0;
    }

    a:hover li {
      cursor: pointer;
      background-color: #f5f5f5;
      border: 1px solid #666;
    }
  }

  //MAIN ISSUE styles
  h2,
  h3 {
    text-align: center;
  }

  h2.bodyName,
  div.office-governor h3 {
    font-size: 2.5em;
  }

  h2.bodyName,
  div.office-governor {
    padding-top: 200px;
    margin-bottom: 0;
  }

  div.office {
    margin-bottom: 75px;

    @media (max-width: 600px) {
      margin-bottom: 0;
    }

    .officeTop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .candidate,
      .bios {
        width: 40%;

        @media (max-width: 600px) {
          width: 100%;
        }
      }

      .candidate:nth-child(2) {
        order: 0;

        @media (max-width: 600px) {
          order: 1;
        }
      }

      .map {
        order: 1;
        width: 20%;

        @media (max-width: 600px) {
          order: 0;
          width: 80%;
        }

        img {
          width: 50%;
          margin-left: 25%;

          @media (max-width: 600px) {
            width: 30%;
            margin-left: 0;
            float: left;
          }
        }

        h3 {
          margin-bottom: 0.2em;
          padding-top: 0.2em;
        }

        .distAreas {
          font-family: "Benton Sans";
          text-align: center;
          font-size: 0.75em;
          width: 80%;
          margin-left: 10%;
        }
      }

      .candidate:nth-child(3) {
        order: 2;

        @media (max-width: 600px) {
          order: 3;
        }
      }

      .bios:nth-child(5) {
        order: 3;

        @media (max-width: 600px) {
          order: 2;
        }
      }

      h5 {
        order: 4;
        width: 20%;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.9em;

        @media (max-width: 600px) {
          display: none;
        }
      }

      .bios:last-child {
        order: 5;
      }

      .candidate {
        img {
          width: 40%;
          margin-left: 30%;

          @media (max-width: 600px) {
            width: 30%;
            max-width: 125px;
            margin-left: 0;
            float: right;
          }
        }

        .candName,
        .party {
          text-align: center;

          @media (max-width: 600px) {
            text-align: left;
          }
        }

        .candName {
          margin-bottom: 0;

          span.inc {
            font-weight: normal;
            font-size: 0.6em;
            margin-left: 4px;
            position: relative;
            top: -2px;
          }
        }

        .party {
          font-family: "Benton Sans";
          font-size: 0.75em;
          text-transform: uppercase;
          letter-spacing: 0.15em;
        }

        .mBio {
          display: none;

          @media (max-width: 600px) {
            display: block;
            font-family: "Benton Sans";
            font-size: 0.85em;
            text-align: left;
            hyphens: auto;
          }
        }
      }

      .bios .candBio {
        font-family: "Benton Sans";
        font-size: 0.85em;
        text-align: justify;
        hyphens: auto;

        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    .issues {
      .issue {
        padding: 1em 0em;
        border-bottom: 1px solid #eeeeee;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 600px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .issueName {
          order: 1;

          @media (max-width: 600px) {
            order: 0;
          }

          h5 {
            text-transform: uppercase;
            font-size: 0.9em;
          }

          .expand {
            float: right;
            display: none;

            button {
              min-width: 1.5em;
              background-color: white;
              border: none;
              padding: 0;
              color: black;
              font-size: 1.1em;
              font-weight: normal;
            }

            .less {
              display: none;
            }
          }
        }

        .response {
          width: 40%;
          font-size: 0.85em;
          font-family: "Benton Sans";
          margin-bottom: 0;
          text-align: justify;
          hyphens: auto;
          -webkit-hyphens: auto;
          -ms-hyphens: auto;

          @media (max-width: 600px) {
            width: 100%;
            text-align: left;
          }

          span {
            font-weight: bold;
          }
        }
      }

      .issue .response:first-child {
        order: 0;

        @media (max-width: 600px) {
          order: 1;
        }
      }

      .issue .response:last-child {
        order: 2;

        @media (max-width: 600px) {
          padding-top: 1em;
        }
      }
    }
  }

  .credits {
    margin-top: 150px;
    padding-top: 50px;
    border-top: 1px solid rgb(59, 59, 59);
    font-family: "Benton Sans";

    h4 {
      text-transform: uppercase;
      font-size: 1em;
      letter-spacing: 0.5px;
      margin-bottom: 25px;
    }

    p {
      font-family: "Benton Sans";
      font-size: 0.85em;
    }
  }
}
