/**
 * Project specific styling.
 */

.wide-body .l-article-container .resultsBanner {
  margin-top: 60px !important;
  margin-bottom: 0px !important;
}

.strib-styles.ssa.ssb.ssc aside.article-share {
  margin-top: 0.5em;
}

//WIDTHS
img.bigimg {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;

  @media (max-width: 600px) {
    display: none;
  }
}

img.vertimg {
  display: none;

  @media (max-width: 600px) {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

section.container-lg {
  max-width: 900px;

  //HEADER styles
  .header {
    text-align: center;

    h1 {
      padding-top: 0.5em;
      margin-bottom: 0;
      line-height: 0.9em;
      font-size: 4em;

      @media (max-width: 768px) {
        font-size: 3.25em;
      }
    }

    h2 {
      font-size: 1.9em;
      margin-bottom: 1.5em;

      @media (max-width: 768px) {
        font-size: 1.5em;
        width: 80%;
        margin-left: 10%;
      }
    }

    .byline {
      address {
        @media (max-width: 600px) {
          color: #080808;
        }
      }

      @media (max-width: 340px) {
        font-size: 0.75em;
      }
    }

    .leadin {
      max-width: 525px;
      text-align: left;
      margin: auto;
      padding-top: 30px;
      margin-bottom: 100px;

      p {
        font-family: "Benton Sans";
        font-size: 0.9em;
      }
    }
  }

  //NAV styles
  // NAV default styles
  .l-navigation-shortnav-container {
    box-shadow: none;
  }

  #navigation {
    width: 100%;
    background-color: white;
    z-index: 150;
  }

  .sticky {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e8e8e8;

    @media (max-width: 600px) {
      padding-top: 8px;
      padding-bottom: 10px;
    }
  }

  // Placeholder
  .navigation-placeholder {
    display: none;

    &.sticky-on {
      display: block;
    }
  }

  nav ul {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0px auto;

    // @media (max-width: 600px) {
    //   width: 70%;
    //   margin: 0px auto 10px auto;
    // }

    // @media (max-width: 385px) {
    //   width: 78%;
    // }

    a,
    a:link,
    a:visited {
      color: #d3d3d3;
    }

    li {
      min-width: 20%;
      background-color: white;
      text-transform: uppercase;
      font-size: 0.75em;
      font-family: "Benton Sans";
      border: 1px solid #d3d3d3;
      border-radius: 6px;
      padding: 5px 12px 4px;
      display: inline;
      -webkit-transition: border 0.3s ease, color 0.3s ease;
      -moz-transition: border 0.3s ease, color 0.3s ease;
      -o-transition: border 0.3s ease, color 0.3s ease;
      transition: border 0.3s ease, color 0.3s ease;

      @media (max-width: 600px) {
        display: inline-block;
        margin-top: 10px;
        padding: 5px 10px 4px;
        margin-right: 0.5em;

        .navdt {
          display: none;
        }
      }
    }

    a:last-child li {
      margin-right: 0;
    }

    a:hover li,
    a.active li {
      cursor: pointer;
      color: #202020;
      border: 1px solid #202020;
    }
  }

  //MAIN ISSUE styles
  h2,
  h3 {
    text-align: center;
  }

  h2.bodyName,
  div#governor h3 {
    font-size: 2.75em;
    padding-top: 0;

    @media (max-width: 600px) {
      font-size: 2.25em;
    }
  }

  h2.bodyName {
    padding-top: 150px;
    margin-bottom: 0;

    @media (max-width: 600px) {
      padding-top: 100px;
      margin-bottom: 0.2em;
    }
  }

  div.office-governor {
    padding-top: 75px;
    margin-bottom: 0;

    @media (max-width: 600px) {
      padding-top: 50px;
      margin-bottom: 0.2em;
    }
  }

  div.office-sensched,
  div.office-dist2,
  div.office-dist3,
  div.office-dist4,
  div.office-dist5,
  div.office-dist6,
  div.office-dist7,
  div.office-dist8,
  div.office-aud,
  div.office-sos {
    padding-top: 100px;

    @media (max-width: 600px) {
      padding-top: 75px;
    }
  }

  div.office {
    margin-bottom: 75px;

    @media (max-width: 600px) {
      margin-bottom: 0;
    }

    .officeTop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .candidate,
      .bios {
        width: 40%;

        @media (max-width: 600px) {
          width: 100%;
        }
      }

      .candidate:nth-child(2) {
        order: 0;

        @media (max-width: 600px) {
          order: 1;
          margin-bottom: 1em;
        }
      }

      .map {
        order: 1;
        width: 20%;

        @media (max-width: 600px) {
          order: 0;
          width: 80%;
        }

        @media (max-width: 385px) {
          width: 100%;
        }

        img {
          width: 50%;
          margin-left: 25%;

          @media (max-width: 600px) {
            width: 33%;
            margin-left: 0;
            padding-bottom: 2em;
            padding-right: 0.5em;
            float: left;
          }
        }

        h3 {
          margin-bottom: 0.2em;
          padding-top: 0em;

          @media (max-width: 600px) {
            font-size: 1.8em;
          }
        }

        .distAreas {
          font-family: "Benton Sans";
          text-align: center;
          font-size: 0.7em;
          width: 80%;
          margin-left: 10%;

          @media (max-width: 600px) {
            width: 100%;
            margin-left: 0;
          }
        }
      }

      .candidate:nth-child(3) {
        order: 2;

        @media (max-width: 600px) {
          order: 3;
          margin-bottom: 1.3em;
        }
      }

      .bios:nth-child(5) {
        order: 3;

        @media (max-width: 600px) {
          order: 2;
        }
      }

      h5 {
        order: 4;
        width: 20%;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8em;

        @media (max-width: 600px) {
          display: none;
          font-size: 0.9em;
        }
      }

      .bios:last-child {
        order: 5;
      }

      .candidate {
        img {
          width: 40%;
          margin-left: 30%;

          @media (max-width: 600px) {
            width: 30%;
            max-width: 125px;
            margin-left: 0;
            float: right;
          }
        }

        .candName,
        .party {
          text-align: center;

          @media (max-width: 600px) {
            text-align: left;
          }
        }

        .candName {
          margin-bottom: 0;
          font-size: 1.1em;

          span.inc {
            font-weight: normal;
            font-size: 0.6em;
            margin-left: 4px;
            position: relative;
            top: -2px;
          }
        }

        .party {
          font-family: "Benton Sans";
          font-size: 0.75em;
          text-transform: uppercase;
          letter-spacing: 0.15em;
        }

        .mBio {
          display: none;

          @media (max-width: 600px) {
            display: block;
            font-family: "Benton Sans";
            font-size: 0.9em;
            text-align: left;
            hyphens: auto;
          }
        }
      }

      .bios .candBio {
        font-family: "Benton Sans";
        font-size: 0.9em;
        text-align: justify;
        hyphens: auto;

        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    .issues {
      .issue {
        padding: 1em 0em;
        border-bottom: 1px solid #eeeeee;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 600px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .issueName {
          order: 1;

          @media (max-width: 600px) {
            order: 0;
          }

          h5 {
            text-transform: uppercase;
            font-size: 0.8em;
            text-align: center;
            padding: 0 0.5em;

            @media (max-width: 600px) {
              padding-left: 0;
              font-size: 0.9em;
            }
          }

          .expand {
            float: right;
            display: none;

            button {
              min-width: 1.5em;
              background-color: white;
              border: none;
              padding: 0;
              color: black;
              font-size: 1.1em;
              font-weight: normal;
            }

            .less {
              display: none;
            }
          }
        }

        .response {
          width: 40%;
          font-size: 0.9em;
          font-family: "Benton Sans";
          margin-bottom: 0;
          text-align: justify;
          hyphens: auto;
          -webkit-hyphens: auto;
          -ms-hyphens: auto;

          @media (max-width: 600px) {
            width: 100%;
            text-align: left;
          }

          span {
            display: none;

            @media (max-width: 600px) {
              display: inline;
              font-weight: bold;
            }
          }
        }
      }

      .issue:first-child {
        border-top: 1px solid #eee;
      }

      .issue:last-child {
        border-bottom: none;
      }

      .issue .response:first-child {
        order: 0;

        @media (max-width: 600px) {
          order: 1;
        }
      }

      .issue .response:last-child {
        order: 2;

        @media (max-width: 600px) {
          padding-top: 1em;
        }
      }
    }
  }

  div.office-ag,
  div.office-aud,
  div.office-sos {
    margin-bottom: 0;

    .officeTop {
      border-bottom: none;
    }
  }

  #thirdparty {
    padding-top: 150px;

    h6 {
      font-size: 0.9em;
    }
    p {
      font-family: "Benton Sans";
      font-size: 0.75em;
    }
  }

  .credits {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #666;
    font-family: "Benton Sans";
    margin-bottom: 250px;

    h4 {
      text-transform: uppercase;
      font-size: 0.9em;
      letter-spacing: 0.5px;
      margin-bottom: 25px;
    }

    p {
      font-family: "Benton Sans";
      font-size: 0.75em;
    }
  }
}
